openapi: 3.1.0
info:
  title: Hydrostor oEmbed API
  version: wp/v2
  description: Public oEmbed 1.0 provider endpoint for hydrostor.ca URLs, returning embeddable rich metadata — title,
    author, thumbnail and iframe HTML — for any newsroom post, static page or A-CAES project page. Requires no credentials
    and is the cheapest way to resolve a hydrostor.ca URL into structured metadata.
  contact:
    name: Hydrostor
    url: https://hydrostor.ca/contact/
  x-derived-from: https://hydrostor.ca/wp-json/ route index + per-route HTTP OPTIONS schema documents
  x-derived-on: '2026-08-22'
  x-api-evangelist-note: Third-party profile by API Evangelist. Hydrostor publishes no developer program; this document
    describes the anonymously readable WordPress REST content API served from hydrostor.ca, which the site exposes
    as a self-describing route index. Every path, parameter and schema here was read from the server's own route
    index and HTTP OPTIONS documents on 2026-08-22 — nothing is invented.
servers:
- url: https://hydrostor.ca/wp-json
  description: Hydrostor WordPress REST API
tags:
- name: oEmbed
  description: oEmbed 1.0 provider endpoint.
paths:
  /oembed/1.0/embed:
    get:
      operationId: getOembed
      summary: Get oEmbed rich metadata for a hydrostor.ca URL
      description: oEmbed 1.0 provider endpoint. Returns embeddable rich metadata — provider, author, title, thumbnail
        and iframe HTML — for any post, page or A-CAES project URL on hydrostor.ca. Verified live on 2026-08-22.
      tags:
      - oEmbed
      parameters:
      - name: format
        in: query
        schema:
          default: json
          type: string
      - name: maxwidth
        in: query
        schema:
          default: 600
          type: string
      - name: url
        in: query
        description: The URL of the resource for which to fetch oEmbed data.
        required: true
        schema:
          type: string
          format: uri
      responses:
        '200':
          description: The oEmbed response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OembedResponse'
        '400':
          description: Invalid request parameter (`rest_invalid_param`).
          content:
            application/json:
              schema: &id001
                $ref: '#/components/schemas/Error'
        '404':
          description: The URL does not belong to a resource on this site (`oembed_invalid_url`).
          content:
            application/json:
              schema: *id001
components:
  schemas:
    OembedResponse:
      type: object
      title: OembedResponse
      description: An oEmbed 1.0 `rich` response as returned live by hydrostor.ca on 2026-08-22.
      properties:
        version:
          type: string
          description: 'The oEmbed version number. Observed: `1.0`.'
        provider_name:
          type: string
          description: 'The site name. Observed: `Hydrostor`.'
        provider_url:
          type: string
          format: uri
          description: The site URL.
        author_name:
          type: string
          description: The resource author's display name.
        author_url:
          type: string
          format: uri
          description: The resource author's archive URL.
        title:
          type: string
          description: The resource title.
        type:
          type: string
          description: 'The oEmbed response type. Observed: `rich`.'
        width:
          type: integer
          description: The embed width in pixels.
        height:
          type: integer
          description: The embed height in pixels.
        html:
          type: string
          description: The embeddable HTML markup.
        thumbnail_url:
          type: string
          format: uri
          description: URL of the resource's featured image, when it has one.
        thumbnail_width:
          type: integer
          description: Thumbnail width in pixels.
        thumbnail_height:
          type: integer
          description: Thumbnail height in pixels.
    Error:
      type: object
      title: WordPress REST error
      description: The error envelope returned by every route on this surface. Observed live on 2026-08-22; it is
        a WordPress-native envelope, not RFC 9457 problem+json.
      properties:
        code:
          type: string
          description: Machine-readable error code, e.g. `rest_post_invalid_id`, `rest_invalid_param`, `rest_forbidden`.
        message:
          type: string
          description: Human-readable error message.
        data:
          type: object
          description: Error detail.
          properties:
            status:
              type: integer
              description: HTTP status code, repeated inside the body.
            params:
              type: object
              description: Per-parameter validation messages, present on `rest_invalid_param`.
            details:
              type: object
              description: Per-parameter structured validation detail, present on `rest_invalid_param`.
  securitySchemes:
    applicationPassword:
      type: http
      scheme: basic
      description: WordPress application passwords. Issued from https://hydrostor.ca/wp-admin/authorize-application.php
        and advertised by the API's own root document under `authentication.application-passwords`. Required only
        for write and administrative routes; every read operation described in this document answers anonymously.
